@import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@100;200;300;400;500;600;700&display=swap);

body {
  font-family: 'PT Sans', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icon{
  display: flex;
  font-size: 50px;
  padding: 5px 10px 10px ;
  margin-bottom: 50px;
}
.icon img{
  width: 50px;
  height: 25px;
  margin-top: 5px;
}
.bar {
  padding: 30px;
  font-size: 25px;
  margin-bottom: 10px;
}
.main{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}
.main img {
  margin-right: 10px;
}
.menu p{
  margin-bottom: 25px;
}
.main{
  margin-bottom: 25px;
}
.menu__one{
  color: #838383  ;
  margin-bottom: 20px;
}
.menu__one img{
  width: 25px;
  height: 25px;
  
}
.box{
  border-radius: 15px;
  background-color: #F9FAFF;
  margin-top: 50px;
}
.box p{
  color: #591AED;
}
.bar{
    width: 400px;

}